
<ion-header [translucent]="true">

  <!-- <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button>EK</ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button>Home</ion-button>
      <ion-button>About</ion-button>
      <ion-button>Services</ion-button>
      <ion-button>Projects</ion-button>
      <ion-button>Contacts</ion-button>
    </ion-buttons>
  </ion-toolbar> -->

</ion-header>


<ion-content [fullscreen]="true">


  <ion-card>
    <ion-card-header>
      <ion-card-title>About</ion-card-title>
      <ion-card-subtitle>This is about about page</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-button [routerLink] = "['/about']" >About</ion-button>
    </ion-card-content>
  </ion-card>


</ion-content>
